.places{
    border: 3px Solid DarkBlue;
    padding: 7px;
    float: none;
}
.places img{
    width: 100%;
}
.places hr{
    width: 100%;
    color: black;
    size: 4px;
}
span{
    display: inline;
}
.movies{
    font-size: 25px;
    padding: 6px 22px;
    border: 3px white solid;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
#DownArrow{
  padding-top: 5px;  
}
.text span{
    color: darkorange;
}